﻿<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<head>
    <title>Admin</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-color: beige;
            font-family: "Times New Roman", Times, serif;
            margin: 50px;
        }


        form {
            padding: 1em;
            border-style: solid;
            width: 25%;
            margin-left: 36%;
            margin-right: 44%;
            clear: left;
            height: 10%;
            text-align: center;
        }

        table {
            display: table;
            border-collapse: separate;
            border-spacing: 2px;
            border-color: grey;
            margin-left: 44.5%;
            margin-right: 40%;
            width: 10%;
        }

        header, footer {
            padding: 1em;
            color: white;
            background-color: black;
            clear: left;
            text-align: center;
        }
    </style>
    <style>
        .button {
            background-color: #008CBA;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="test1">
        <div class="col-md-4">
            <header>
                <h1>BY THE WAY</h1>
            </header>

            <p>


                @using (Html.BeginForm("Street", "Home"))
        {
            @Html.Label("Street Config")
        <p>
            <button class="button" type="submit">Street</button>
        </p>
}
                @using (Html.BeginForm("Road", "Home"))
        {
            @Html.Label("Road Config")
            <p>
                <button class="button" type="submit">Road</button>
            </p>
}

                @using (Html.BeginForm("Intersection", "Home"))
        {
            @Html.Label("Intersection Config")
            <p>
                <button class="button" type="submit">Intersection</button>
            </p>
}

                @using (Html.BeginForm("Adress", "Home"))
        {

            @Html.Label("Adress Config")
            <p>
                <button class="button" type="submit">Adress</button>
            </p>
}

                @using (Html.BeginForm("Connections", "Home"))
        {

            @Html.Label("Connections Config")
            <p>
                <button class="button" type="submit">Connections</button>
            </p>
}

            <table border="5">
                <tr>
                    <th> Data from Neo4j </th>
                </tr>
                <tr>
                    <td> <a href="@Url.Content("/HTMLPAGE.html")">Graficki prikaz</a></td>                    
                </tr>
                <tr>
                    <td> <a href="@Url.Content("/Neo4j graph show/display-graph.html")">NEO4J grafik</a></td>
                </tr>
            </table>    

                </p>
            </div>
        </div>
        <footer>Team- NIGHT&DAY</footer>
    </body>

