﻿<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<head>
    <title>Adress</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-color: beige;
            font-family: Verdana, Arial;
            margin: 50px;
        }

        h1 {
            margin-left: 40%;
        }

        form {
            padding: 1em;
            border-style: solid;
            width: 15%;
            margin-left: 43%;
            clear: left;
            height: 20%;
        }

        table {
            display: table;
            border-collapse: separate;
            border-spacing: 2px;
            border-color: grey;
            margin-left: 43%;
            width: 17%;
        }
    </style>
    <style>
        .inputclass {
            width: 100px;
            height: 25px;
            color: darkblue;
            padding-right: 100px;
        }

        .button {
            background-color: #008CBA;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .test1 {
            position: absolute;
        }
    </style>
</head>



<body>
    <div class="test1">
        <div class="col-md-4">
            <h1>Basic Adress operations</h1>

            @model ByTheWay.Models.Adress

            <table border="5">
                <tr>
                    <th>Data from Neo4j</th>
                </tr>
                <tr>
                    <td> @Html.Action("GetAdress", "Adress", Model)</td>
                    @*<td> @Html.Raw("\n")</td>*@
                </tr>
            </table>

            @using (Html.BeginForm("Admin", "Home"))
    {
        @Html.Label("Back to Admin page")
        <p>
            <button class="button" type="Admin page">Admin page</button>
        </p>
}

            @using (Html.BeginForm("addAdress", "Adress", FormMethod.Post))
    {
        @Html.Label("Number", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Number)
        @Html.ValidationMessageFor(model => model.Number)
        @Html.Label("Distance", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Distance)
        @Html.ValidationMessageFor(model => model.Distance)
        <button class="button" type="submit">Add New Adress</button>
}


            @using (Html.BeginForm("deleteAdress", "Adress", FormMethod.Post))
    {
        @Html.Label("Number", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Number)
        @Html.ValidationMessageFor(model => model.Number)

        @Html.Label("Distance", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Distance)
        @Html.ValidationMessageFor(model => model.Distance)
        <button class="button" type="submit"> Delete Adress </button>
}

            @using (Html.BeginForm("oldAdress", "Adress", FormMethod.Post))
    {
        @Html.Label("First write old street name and then new street name", new { @class = "inputclass" })
        @Html.Raw("\n")
        @Html.Raw("\n")
        @Html.Label("Number", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Number)
        @Html.ValidationMessageFor(model => model.Number)
        @Html.Label("Distance", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Distance)
        @Html.ValidationMessageFor(model => model.Distance)
        <button class="button" type="submit">Enter old Adress</button>
}


            @using (Html.BeginForm("changeAdress", "Adress", FormMethod.Post))
    {
        @Html.Label("Number", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Number)
        @Html.ValidationMessageFor(model => model.Number)
        @Html.Label("Distance", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Distance)
        @Html.ValidationMessageFor(model => model.Distance)
        <button class="button" type="submit">Change Adress</button>
}

            @using (Html.BeginForm("getStreetByAdress", "Adress", FormMethod.Post))
    {
        @Html.Label("Search string: ", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Number)
        <button  class="button"type="submit">Find adress information</button>
}
            <p></p>
        </div>
    </div>
</body>