﻿<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<head>
    <title>Connections</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-color: beige;
            font-family: Verdana, Arial;
            margin: 50px;
        }

        h1 {
            text-align: center;
        }

        form {
            padding: 1em;
            border-style: solid;
            width: 15%;
            margin-left: 40%;
            clear: left;
            height: 20%;
            border-right-width: 3px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }

        table {
            display: table;
            border-collapse: separate;
            border-spacing: 2px;
            border-color: grey;
            margin-left: 60%;
            width: 25%;
        }
    </style>
    <style>
        .inputclass {
            width: 10%;
            height: 10%;
            color: darkblue;
            padding-right: 100px;
            text-align: center;
        }

        .button {
            background-color: #008CBA;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .test1 {
            position: absolute;
        }
    </style>
</head>

<body>
    <div class="test1">
        <div class="col-md-4">
            <h1>Create new relationship between objects</h1>
            <p>
                @using (Html.BeginForm("Admin", "Home"))
                {
                    @Html.Label("Back to Admin page", new { @class = "inputclass" })
                <p>
                    <button class="button" type="Admin page">Admin page</button>
                </p>
            }

                @model ByTheWay.Models.UniModel
                @Html.Action("fillLists", "Unic", null)

                @using (Html.BeginForm("firstStreet", "Unic", FormMethod.Post))
                {
                    @Html.Label("Type of first object: ", new { @class = "inputclass" })
                    @Html.TextBoxFor(model => model.firstItem)
                    //@Html.ValidationMessageFor(model => model.Name)

                    @Html.Label("ID of first object: ", new { @class = "inputclass" })
                    @Html.TextBoxFor(model => model.ID1)
                    //@Html.ValidationMessageFor(model => model.MaxSpeed)

                    <button class="button" type="submit">Select first object</button>
                }

                @using (Html.BeginForm("CreateEdge", "Unic", FormMethod.Post))
                {
                    @Html.Label("Type of second object: ", new { @class = "inputclass" })
                    @Html.TextBoxFor(model => model.secondItem)
                    //@Html.ValidationMessageFor(model => model.Name)

                    @Html.Label("ID of second object: ", new { @class = "inputclass" })
                    @Html.TextBoxFor(model => model.ID2)
                    //@Html.ValidationMessageFor(model => model.MaxSpeed)

                    <button class="button" type="submit">Create relationship</button>
                }

                @Html.Label("ID's for different objects are: Street/Road -> Name  Intersection -> name  Adress -> Number", new { @class = "inputclass" })

                </p>
            </div>
        </div>
    </body>

