﻿<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<head>
    <title>Add Numbers</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-color: beige;
            font-family: Verdana, Arial;
            margin: 50px;
        }

        form {
            padding: 10px;
            border-style: solid;
            width: 250px;
        }
    </style>
</head>


<body>
    <div class="test1">
        <div class="col-md-4">
            <h1>Test osnovnih operacija</h1>



            @model ByTheWay.Models.Adress
            @using (Html.BeginForm("addAdress", "Adress", FormMethod.Post))
            {
                @Html.Label("Number")
                @Html.TextBoxFor(model => model.Number)
                @Html.ValidationMessageFor(model => model.Number)

                @Html.Label("Distance")
                @Html.TextBoxFor(model => model.Distance)
                @Html.ValidationMessageFor(model => model.Distance)
                <button type="submit">Add New Adress</button>
            }

            
            @using (Html.BeginForm("deleteAdress", "Adress", FormMethod.Post))
            {
                @Html.Label("Ovde je kod za brisanje ali je komentarisan trenutno")

                @*@Html.Label("Number")
                @Html.TextBoxFor(model => model.Number)
                @Html.ValidationMessageFor(model => model.Number)

                @Html.Label("Distance")
                @Html.TextBoxFor(model => model.Distance)
                @Html.ValidationMessageFor(model => model.Distance)
                <button type = "submit" > Delete Adress </button>*@


            }
            

            @using (Html.BeginForm("oldAdress", "Adress", FormMethod.Post))
            {
                @Html.Label("Prvo prosledite staru adresu pa nakon toga novu")
                @Html.Label("Number")
                @Html.TextBoxFor(model => model.Number)
                @Html.ValidationMessageFor(model => model.Number)
                
                @Html.Label("Distance")
                @Html.TextBoxFor(model => model.Distance)
                @Html.ValidationMessageFor(model => model.Distance)
                <button type="submit">Enter old Adress</button>
            }

            @using (Html.BeginForm("changeAdress", "Adress", FormMethod.Post))
            {
                @Html.Label("Number")
                @Html.TextBoxFor(model => model.Number)
                @Html.ValidationMessageFor(model => model.Number)
                
                @Html.Label("Distance")
                @Html.TextBoxFor(model => model.Distance)
                @Html.ValidationMessageFor(model => model.Distance)
                <button type="submit">Change Adress</button>
            }



            <p></p>
        </div>
    </div>
</body>