﻿<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<head>
    <title>Intersection</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-color: beige;
            font-family: Verdana, Arial;
            margin: 50px;
        }

        h1 {
            text-align: center;
        }

        form {
            padding: 1em;
            border-style: solid;
            width: 14%;
            margin-left: 42%;
            margin-right: 38%;
            clear: left;
            height: 20%;
            border-right-width: 3px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }

        table {
            display: table;
            border-collapse: separate;
            border-spacing: 2px;
            border-color: grey;
            margin-left: 40%;
            margin-right: 40%;
            width: 20%;
        }
    </style>
    <style>
        .inputclass {
            width: 10%;
            height: 25px;
            color: darkblue;
            padding-right: 100px;
        }

        .button {
            background-color: #008CBA;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .test1 {
            position: absolute;
        }
    </style>
</head>

<body>
    <div class="test1">

        <h1>Basic Intersection operations</h1>

        @model ByTheWay.Models.Intersection

        <table border="5">
            <tr>
                <th width="100px" height="50">Data from neo4j</th>
            </tr>
            <tr>
                <td> @Html.Action("GetIntersection", "Intersection", Model)</td>
            </tr>
        </table>

        @using (Html.BeginForm("Admin", "Home"))
        {
            @Html.Label("Back to Admin page", new { @class = "inputclass" })
            <p>
                <button class="button" type="Admin page">Admin page</button>
            </p>
        }


        @using (Html.BeginForm("addIntersection", "Intersection", FormMethod.Post))
        {
            @Html.Label("Name", new { @class = "inputclass" })
            @Html.TextBoxFor(model => model.name)
            <button class="button" type="submit">Add New Intersection</button>
        }

        @using (Html.BeginForm("deleteIntersection", "Intersection", FormMethod.Post))
        {

            @Html.Label("Name", new { @class = "inputclass" })
            @Html.TextBoxFor(model => model.name)
            <button class="button" type="submit"> Delete Intersection </button>
        }

        @using (Html.BeginForm("oldIntersection", "Intersection", FormMethod.Post))
        {
            @Html.Label("First write old street name and then new intersection name", new { @class = "inputclass" })
            @Html.Raw("\n")
            @Html.Raw("\n")
            @Html.Label("Name", new { @class = "inputclass" })
            @Html.TextBoxFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
            <button class="button" type="submit">Enter old Intersection</button>
        }

        @using (Html.BeginForm("changeIntersection", "Intersection", FormMethod.Post))
        {
            @Html.Label("Name", new { @class = "inputclass" })
            @Html.TextBoxFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
            <button class="button" type="submit">Change Intersection</button>
        }
        @using (Html.BeginForm("getAllIntersections", "Intersection", FormMethod.Post))
        {
            @Html.Label("Search string:", new { @class = "inputclass" })
            @Html.TextBoxFor(model => model.name)

            <button class="button" type="submit">Find all objects</button>
        }
        <p></p>
    </div>

</body>