﻿<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<head>
    <title>Road</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-color: beige;
            font-family: Verdana, Arial;
            margin: 50px;
        }

        h1 {
            margin-left: 40%;
        }

        form {
            padding: 1em;
            border-style: solid;
            width: 15%;
            margin-left: 42%;
            margin-right: 34%;
            clear: left;
            height: 20%;
            width: 14%;
        }

        table {
            display: table;
            border-collapse: separate;
            border-spacing: 2px;
            border-color: grey;
            margin-left: 40%;
            margin-right: 36%;
            width: 20%;
        }
    </style>
    <style>
        .inputclass {
            width: 100px;
            height: 25px;
            color: darkblue;
            padding-right: 100px;
        }

        .button {
            background-color: #008CBA;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .test1 {
            position: absolute;
        }
    </style>
</head>

<body>
    <div class="test1">
        <div class="col-md-4">
            <h1>Basic Road operations</h1>

            @model ByTheWay.Models.Road

            <table border="5">
                <tr>
                    <th width="100px" height="50">Data from Neo4j</th>
                </tr>
                <tr>
                    <td> @Html.Action("GetRoad", "Road", Model)</td>
                </tr>
            </table>

            @using (Html.BeginForm("Admin", "Home"))
    {
        @Html.Label("Back to Admin page", new { @class = "inputclass" })
        <p>
            <button class="button" type="Admin page">Admin page</button>
        </p>
}




            @using (Html.BeginForm("addRoad", "Road", FormMethod.Post))
    {
        @Html.Label("Name", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Name)
//@Html.ValidationMessageFor(model => model.Name)

        @Html.Label("MaxSpeed", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.MaxSpeed)
//@Html.ValidationMessageFor(model => model.MaxSpeed)


        @Html.Label("Length", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Length)
// @Html.ValidationMessageFor(model => model.Length)

        <button class="button" type="submit">Add New Road</button>
}


            @using (Html.BeginForm("deleteRoad", "Road", FormMethod.Post))
    {


        @Html.Label("Name", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)

        <button class="button" type="submit"> Delete Road </button>
}

            @using (Html.BeginForm("oldRoad", "Road", FormMethod.Post))
    {
        @Html.Label("First write old road name and then new road name", new { @class = "inputclass" })
        @Html.Raw("\n")
        @Html.Raw("\n")
        @Html.Label("Name", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)

        @Html.Label("Length", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Length)
        @Html.ValidationMessageFor(model => model.Length)


        @Html.Label("MaxSpeed", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.MaxSpeed)
        @Html.ValidationMessageFor(model => model.MaxSpeed)

        <button class="button" type="submit">Enter old Road</button>
}

            @using (Html.BeginForm("changeRoad", "Road", FormMethod.Post))
    {
        @Html.Label("Name", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Name)
//@Html.ValidationMessageFor(model => model.Name)

        @Html.Label("Length", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Length)
//@Html.ValidationMessageFor(model => model.Length)


        @Html.Label("MaxSpeed", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.MaxSpeed)
//@Html.ValidationMessageFor(model => model.MaxSpeed)
        <button class="button" type="submit">Change Road</button>
}

            @using (Html.BeginForm("getAllRoads", "Road", FormMethod.Post))
    {
        @Html.Label("Name of road:", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Name)
//@Html.ValidationMessageFor(model => model.MaxSpeed)
        <button class="button" type="submit">Find all objects</button>
}
            @using (Html.BeginForm("GetRoadByName", "Road", FormMethod.Post))
    {
        @Html.Label("Search string: ", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Name)
        <button class="button" type="submit">Find road informations</button>
}

            @using (Html.BeginForm("GetIntersectionByRoadName", "Road", FormMethod.Post))
    {
        @Html.Label("Search string: ", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Name)
        <button class="button" type="submit">Find intersections for road</button>
}
            <p></p>
        </div>
    </div>
</body>



