﻿<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<head>
    <title>Street</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-color: beige;
            font-family: Verdana, Arial;
            margin: 50px;
        }

        h1 {
            text-align: center;
        }

        form {
            padding: 1em;
            border-style: solid;
            width: 13%;
            margin-left: 44%;
            margin-right: 46%;
            clear: both;
            padding-left 10px;
            padding-right 10px;
            height: 20%;
            text-align: center;
        }

        table {
            display: table;
            border-collapse: separate;
            border-spacing: 2px;
            border-color: grey;
            margin-left: 42%;
            margin-right: 41%;
            width: 20%;
            text-align: center;
        }
    </style>
    <style>
        .inputclass {
            width: 100px;
            height: 25px;
            color: darkblue;
            padding-right: 100px;
        }

        .button {
            background-color: #008CBA;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .test1 {
            position: absolute;
        }
    </style>
</head>

<body>
    <div class="test1">

        <h1>Basic Street operations </h1>



        @model ByTheWay.Models.Street

        <table border="5">
            <tr>
                <th> Data from Neo4j </th>
            </tr>
            <tr>
                <td> @Html.Action("GetStreet", "Street", Model)</td>
            </tr> @*VRACA PODATKE ZA STREET*@
        </table>
        @Html.Raw("\n")

        @using (Html.BeginForm("Admin", "Home"))
    {
        @Html.Label("Back to Admin page", new { @class = "inputclass" })
        <p>
            <button class="button" type="Admin page">Admin page</button>
        </p>
}


        @using (Html.BeginForm("addStreet", "Street", FormMethod.Post))
    {
        @Html.Label("Name", new { @class = "inputclass" })
        @Html.Raw("\n")
        @Html.TextBoxFor(model => model.Name, new { style = "width:120px;height:25px;padding:10px;" })


    //@Html.ValidationMessageFor(model => model.Name)

    @Html.Label("MaxSpeed", new { @class = "inputclass" })

    @Html.TextBoxFor(model => model.MaxSpeed, new { style = "width:120px;height:25px" })

//@Html.ValidationMessageFor(model => model.MaxSpeed)


    @Html.Label("Length", new { @class = "inputclass" })
    @Html.TextBoxFor(model => model.Length, new { style = "width:120px;height:25px;padding:10px;" })
// @Html.ValidationMessageFor(model => model.Length)

    <button class="button" type="submit">Add New Street</button>
}

        @using (Html.BeginForm("deleteStreet", "Street", FormMethod.Post))
    {


        @Html.Label("Name", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)

        <button class="button" type="submit"> Delete Street </button>
}

        @using (Html.BeginForm("oldStreet", "Street", FormMethod.Post))
    {
        @Html.Label("First write old street name then new street name", new { @class = "inputclass" })
        @Html.Raw("\n")
        @Html.Raw("\n")
        @Html.Label("Name", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)

        @Html.Label("Length", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Length)
        @Html.ValidationMessageFor(model => model.Length)


        @Html.Label("MaxSpeed", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.MaxSpeed)
        @Html.ValidationMessageFor(model => model.MaxSpeed)

        <button class="button" type="submit">Enter old Street</button>
}

        @using (Html.BeginForm("changeStreet", "Street", FormMethod.Post))
    {
        @Html.Label("Name", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Name)
    //@Html.ValidationMessageFor(model => model.Name)

    @Html.Label("Length", new { @class = "inputclass" })
    @Html.TextBoxFor(model => model.Length)
//@Html.ValidationMessageFor(model => model.Length)


    @Html.Label("MaxSpeed", new { @class = "inputclass" })
    @Html.TextBoxFor(model => model.MaxSpeed)
//@Html.ValidationMessageFor(model => model.MaxSpeed)
    <button class="button" type="submit">Change Street</button>
}
        @using (Html.BeginForm("ReturnStreetByName", "Street", FormMethod.Post))
    {
        @Html.Label("Search String: ", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Name)
        <button class="button" type="submit">Find street by name</button>
}

        @using (Html.BeginForm("returnAllObjectsForStreet", "Street", FormMethod.Post))
    {
        @Html.Label("Search String: ", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Name)
    //@Html.ValidationMessageFor(model => model.MaxSpeed)
    <button class="button" type="submit">Find all objects for street</button>
}

        @using (Html.BeginForm("GetAdressByIntersectionThrowStreetString", "Street", FormMethod.Post))
    {
        @Html.Label("Combined search for intersection:", new { @class = "inputclass" })
        @Html.Raw("<br>")
        @Html.Raw("<br>")
        @Html.Label("Intersection:", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Name)
    //@Html.ValidationMessageFor(model => model.MaxSpeed)
    <button class="button" type="submit">Search</button>
}

        @using (Html.BeginForm("findCommonStreet", "Street", FormMethod.Post))
    {
        @Html.Label("Adress 1: ", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Name)
        @Html.Raw("<br>")
        @Html.Label("Adress 2: ", new { @class = "inputclass" })
        @Html.TextBoxFor(model => model.Length)
        <button class="button" type="submit">Check adresses</button>
}


        <p></p>
    </div>
    
</body>