﻿<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<head>
    <title>Admin</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-color: beige;
            font-family: Verdana, Arial;
            margin: 50px;
        }

        form {
            padding: 10px;
            border-style: solid;
            width: 250px;
        }
    </style>
</head>

<body>
    <div class="test1">
        <div class="col-md-4">
            <h1>USER PAGE</h1>

            @using (Html.BeginForm("Admin", "Home"))
    {
        @Html.Label("Back to Admin page")
        <p>
            <button type="submit">Admin page</button>
        </p>
    }

                @model ByTheWay.Models.UniModel
                @using (Html.BeginForm("firstStreet", "Unic", FormMethod.Post))
                {
                    @Html.Label("String za pretragu: ")
                    @Html.TextBoxFor(model => model.ID1)
                    //@Html.ValidationMessageFor(model => model.MaxSpeed)

                <button type="submit">Pripremi prvi objekat</button>
                }

        </div>
    </div>
</body>